

.Sidebar{
  display: flex;

  .homecontainer{
   
    flex: 6;
  }

  .Widgets,.Chart{
    display:flex;
    padding: 10px;
    gap: 10px;

  }
  .Chart{
    
    padding: 30px;
  }
  
    
  }
  

  

